In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'C:\Users\Gaurav Singh\Downloads\Airline Satisfaction\Airline Train data.csv')

In [5]:
pd.set_option('display.max_columns',None)

In [6]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [7]:
df.tail()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
103899,103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,2,2,2,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,2,4,5,5,5,5,5,5,5,4,0,0.0,satisfied
103901,103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,4,1,5,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,1,1,1,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,1,1,1,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
df.isna().apply(pd.value_counts).T

                                      False  True
Unnamed: 0                         103904.0    NaN
id                                 103904.0    NaN
Gender                             103904.0    NaN
Customer Type                      103904.0    NaN
Age                                103904.0    NaN
Type of Travel                     103904.0    NaN
Class                              103904.0    NaN
Flight Distance                    103904.0    NaN
Inflight wifi service              103904.0    NaN
Departure/Arrival time convenient  103904.0    NaN
Ease of Online booking             103904.0    NaN
Gate location                      103904.0    NaN
Food and drink                     103904.0    NaN
Online boarding                    103904.0    NaN
Seat comfort                       103904.0    NaN
Inflight entertainment             103904.0    NaN
On-board service                   103904.0    NaN
Leg room service                   103904.0    NaN
Baggage handling                   103904.0    NaN
Checkin service                    103904.0    NaN
Inflight service                   103904.0    NaN
Cleanliness                        103904.0    NaN
Departure Delay in Minutes         103904.0    NaN
Arrival Delay in Minutes           103594.0  310.0
satisfaction                       103904.0    NaN

In [11]:
df['Arrival Delay in Minutes'].fillna(df['Arrival Delay in Minutes'].median(),inplace=True)

In [12]:
df.isna().apply(pd.value_counts).T

                                    False
Unnamed: 0                         103904
id                                 103904
Gender                             103904
Customer Type                      103904
Age                                103904
Type of Travel                     103904
Class                              103904
Flight Distance                    103904
Inflight wifi service              103904
Departure/Arrival time convenient  103904
Ease of Online booking             103904
Gate location                      103904
Food and drink                     103904
Online boarding                    103904
Seat comfort                       103904
Inflight entertainment             103904
On-board service                   103904
Leg room service                   103904
Baggage handling                   103904
Checkin service                    103904
Inflight service                   103904
Cleanliness                        103904
Departure Delay in Minutes         103904
Arrival Delay in Minutes           103904
satisfaction                       103904

In [13]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,5,3,5,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied

In [14]:
df.drop(['Unnamed: 0','id'],axis=1,inplace=True)

In [15]:
df['Gender'] = le.fit_transform(df['Gender'])
df['Customer Type'] = le.fit_transform(df['Customer Type'])
df['Type of Travel'] = le.fit_transform(df['Type of Travel'])
df['Class'] = le.fit_transform(df['Class'])
df['satisfaction'] = le.fit_transform(df['satisfaction'])

In [16]:
X = df.drop('satisfaction',axis=1)
y = df[['satisfaction']]

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [19]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(72732, 22)
(31172, 22)
(72732, 1)
(31172, 1)

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
model = DecisionTreeClassifier(criterion='entropy',max_depth=13)

In [22]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=13,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [23]:
y_pred = model.predict(X_test)

In [24]:
#training accuracy
model.score(X_train,y_train)*100

96.59984601000934

In [25]:
model.score(X_test,y_test)*100

95.2104452713974

In [26]:
from sklearn.ensemble import RandomForestClassifier